* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

h1 {
  color: blue;
}

h2 {
  color: red;
}

p {
  color: green;
}

button {
  color: brown;
  background-color: aqua;
}
