$primary: green;
$second: red;
$pippo: blue;
$pluto: brown;
$acqua: aqua;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $acqua;
}
h1{
  color: $pippo;
}
h2{
  color:$second;
}
p{
  color: $primary;
}
button{
  color: $pluto;
  background-color: $acqua;
}
